.header {
  padding: 1rem;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  .navbar {
    .logo {
      color: white;
      text-transform: uppercase;
      em {
        color: var(--main-color);
        font-weight: bold;
      }
    }
    ul {
      margin-left: 6rem;
      li {
        &:not(:first-child) {
          margin-left: 2rem;
        }
        a {
          position: relative;
          transition: all 0.4s linear;
          font-size: 14px;
          &:hover {
            color: var(--main-color);
            opacity: 1;
          }
        }
      }
      @media screen and (max-width: 426px) {
        display: none;
      }
    }
  }
  .user {
    div {
      &:first-child {
        position: relative;
        display: grid;
        place-items: center;
        padding: 6px;
        margin-top: -4px;
        background-color: var(--main-color);
        border-radius: 10px;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          top: -4px;
          right: -4px;
          width: 7px;
          height: 7px;
          background: var(--main-color);
          border-radius: 50%;
          border: 3px solid var(--bg-color);
        }
      }
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}
