.form {
  width: 30%;
  margin: auto;
  h1 {
    font-size: 45px;
    margin-bottom: 0.5rem;
    span {
      margin-left: 0.6rem;
      font-size: 40px;
      text-transform: uppercase;
      color: #fff;
      em {
        color: var(--main-color);
      }
    }
  }
  .notMember {
    display: flex;
    align-items: center;
    p {
      opacity: 0.6;
      font-size: 21px;
      margin-right: 1rem;
    }
    h3 {
      font-size: 20px;
      cursor: pointer;
    }
  }
  form {
    margin-top: 1.8rem;
  }
  @media screen and (max-width: 1025px) {
    width: 38%;
    h1 {
      font-size: 40px;
      span {
        font-size: 40px;
      }
    }
  }
  @media screen and (max-width: 769px) {
    margin: 4rem auto 2rem;
    width: 60%;
  }
  @media screen and (max-width: 426px) {
    margin: 5rem auto 2rem;
    width: 97%;
    h1 {
      font-size: 30px;
    }
    .notMember {
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 15px;
      }
    }
    a {
      font-size: 13px;
    }
  }
}
