.button {
  position: relative;
  display: block;
  margin-top: 2rem;
  padding: 18.2316px 50.1368px;
  background: linear-gradient(0deg, #b08bff, #b08bff), rgba(34, 34, 34, 0.9);
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 9px;
    z-index: -1;
    margin: -2px;
  }
  @media screen and (max-width: 426px) {
    font-size: 19px;
    padding: 15.2316px 40.1368px;
  }
}
