.button {
  position: relative;
  display: block;
  margin-top: 2rem;
  padding: 18.2316px 50.1368px;
  background: linear-gradient(0deg, #b08bff, #b08bff), rgba(34, 34, 34, 0.9);
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 9px;
    z-index: -1;
    margin: -2px;
  }

  @media screen and (max-width: 426px) {
    font-size: 19px;
    padding: 15.2316px 40.1368px;
  }
}

.buttonIcon {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 0.5rem;
  background: #b08bff;
  border-radius: 40.3654px;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    transform: scale(1.02);
  }
  span {
    margin-left: 1.5rem;
  }
  .icon {
    margin-left: 1rem;
    display: grid;
    place-items: center;
    padding: 0.7rem;
    border-radius: 50%;
    background: #8c62e8;
  }
}
