.hero {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main {
      width: 60%;
      h1 {
        font-size: 80px;
      }
    }
    .img {
      width: 40%;
      margin-top: -5rem;
      margin-right: -4rem;
    }
  }
}
