.hero {
  margin-top: 3rem;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main {
      width: 55%;
      h1 {
        font-size: 80px;
      }
    }
    .img {
      width: 58%;
      margin-top: -7rem;
      margin-right: -4rem;
    }
  }
  .playIcon {
    position: absolute;
    top: 46%;
    left: 42%;
    @media screen and (max-width: 1921px) {
      top: 60%;
    }
    @media screen and (max-width: 1025px) {
      display: none;
    }
  }
  @media screen and (max-width: 1025px) {
    .content {
      display: block;
      .main {
        width: 100%;
      }
      .img {
        width: 80%;
        margin: auto;
      }
    }
  }
  @media screen and (max-width: 769px) {
    .content {
      display: block;
      .main {
        width: 100%;
      }
      .img {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 426px) {
    .content {
      .main {
        h1 {
          font-size: 50px;
        }
      }
      .img {
        margin: 1.5rem 0;
      }
    }
  }
}
