.hero {
  margin-top: 3rem;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main {
      width: 55%;
      h1 {
        font-size: 80px;
      }
    }
    .img {
      width: 58%;
      margin-top: -7rem;
      margin-right: -4rem;
    }
  }
}
