.control {
  margin-bottom: 1.5rem;
  label {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 18px;
    opacity: 0.6;
  }
  .input {
    overflow: hidden;
    width: 100%;
    background: #1e1e1e;
    border: 2.2721px solid #242424;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    input {
      outline: 0;
      border: 0;
      height: 100%;
      padding: 18.2316px 0;
      flex: 1;
      background-color: transparent;
      color: white;
      font-size: 18px;
    }
    .icon {
      cursor: pointer;
    }
  }
}
