.wrapper {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 50vh;
  margin: auto;
  img {
    position: absolute;
    &.i1 {
      top: 0;
      left: 0;
    }
    &.i2 {
      bottom: 15%;
      right: 5%;
    }
    &.i3 {
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.i4 {
      top: 59%;
      left: 52%;
      z-index: -2;
      transform: translate(-50%, -50%);
    }
    &.i5 {
      top: 60%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }
  .v1 {
    position: absolute;
    top: 70%;
    left: -5%;
  }
  .v2 {
    position: absolute;
    top: 10%;
    right: 5%;
  }
  @media screen and (max-width: 1025px) {
    img {
      &.i3 {
        top: 42%;
      }
    }
  }

  @media screen and (max-width: 769px) {
    margin: 4rem auto;
  }
  @media screen and (max-width: 426px) {
    padding: 1rem;
    img {
      &.i1,
      &.i2,
      &.i4 {
        display: none;
      }
      &.i5 {
        top: 68%;
        width: 100%;
      }
    }
    .v1,
    .v2 {
      display: none;
    }
  }
}
