.wrapper {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: 50vh;
  margin: auto;
  img {
    position: absolute;
    &.i1 {
      top: 0;
      left: 0;
    }
    &.i2 {
      bottom: 15%;
      right: 5%;
      z-index: 3;
    }
    &.i3 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .v1 {
    position: absolute;
    top: 70%;
    left: -5%;
  }
  .v2 {
    position: absolute;
    top: 10%;
    right: 5%;
  }

  @media screen and (max-width: 769px) {
    margin: 4rem auto;
  }
  @media screen and (max-width: 426px) {
    margin: 3rem auto 1rem;
    padding: 1rem;
    img {
      &.i1,
      &.i2 {
        display: none;
      }
      &.i3 {
        width: 125%;
        margin: auto;
      }
    }
    .v1,
    .v2 {
      display: none;
    }
  }
}
