.main {
  width: 45%;
  p {
    margin-top: 1.5rem;
    opacity: 0.5;
    max-width: 80%;
  }
  .arrow {
    margin: 4rem 0;
    animation: move 1.5s linear infinite;
  }
  @media screen and (max-width: 769px) {
    width: 100%;
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
