.search {
  .control {
    border: 1px solid var(--input-color);
    display: flex;
    align-items: center;
    padding: 0.45rem 1rem;
    border-radius: 49px;
    input {
      border: none;
      outline: none;
      flex: 1;
      margin-left: 0.7rem;
      color: var(--input-color);
      &::placeholder {
        color: var(--input-color);
        font-size: 12px;
      }
    }
  }
}
