.video {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  .thubmail {
    position: relative;
  }
  .text {
    margin-left: 1rem;
    max-width: 190px;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 13px;
      margin: 0.7rem 0;
      opacity: 0.6;
    }
  }
}
