/* GLOBAL VARIABLES */
:root {
  --bg-color: hsla(0, 0%, 9%, 1);
  --main-color: hsla(259, 100%, 77%, 1);
}

/* Global style (simple reset) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts (LUFGA) */
@font-face {
  font-family: "lufga_light";
  src: url("/fonts/Lufga-Light.ttf");
}
@font-face {
  font-family: "lufga_regular";
  src: url("/fonts/Lufga-Regular.ttf");
}
@font-face {
  font-family: "lufga_semibold";
  src: url("/fonts/Lufga-SemiBold.ttf");
}
@font-face {
  font-family: "lufga_bold";
  src: url("/fonts/Lufga-Bold.ttf");
}

body {
  font-family: "lufga_regular", sans-serif;
  background-color: var(--bg-color);
  color: #eee;
  overflow-x: hidden;
}

.container-md {
  width: 95%;
  max-width: 80rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-lg {
  width: 95%;
  max-width: 90rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: inherit;
  opacity: 0.6;
  text-decoration: none;
  font-size: 16px;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

/** FRAMEWORK */
.flex {
  display: flex;
  align-items: center;
}

.jc {
  justify-content: space-between;
}

.a-link {
  color: var(--main-color);
  opacity: 1;
}
.a-link::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.overlay {
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #d8c6ff -13.46%, var(--bg-color) 100%);
  opacity: 0.05;
  backdrop-filter: blur(30px);
}

.bold {
  font-family: "lufga_bold", sans-serif;
}

.tg {
  background: linear-gradient(90deg, #ccb5ff 0%, #ffade8 100%);
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.mg-t-sm {
  margin-top: 5rem;
}

.mg-t-lg {
  margin-top: 9rem;
}

.bold {
  font-weight: bold;
  font-family: "lufga_bold";
}

.bg_gradient {
  background: linear-gradient(to right, var(--bg-color) 40%, transparent 60%);
}
.bg_fill {
  background-color: var(--bg-color);
}

@media screen and (max-width: 1600px) {
  .desk_only {
    display: none;
  }
}
